.order_box {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;

    .order_head {
        width: 100%;
        background: #1BA9BA;
        height: 10.628019vw;
        z-index: 1000;
    }

    .order_center {
        flex: 1;
        overflow: scroll;

        .choose_box {
            position: relative;
            margin-bottom: 2.415459vw;
            background-color: #fff;
            padding-top: 3.623188vw;
            border-radius: 5px;

            .tip_1wpkd {
                display: flex;
                font-size: 3.381643vw;
                color: #333;
                padding-bottom: 2.415459vw;
                border-bottom: 1px solid #dcdfe0;
                margin: 0 3.623188vw;
            }

            .container_1wpkd {
                padding: 2.415459vw 8.454106vw 3.623188vw 8.454106vw;

                .seats_1wpkd {
                    font-size: 2.898551vw;
                    color: #9e9e9e;
                    text-align: center;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;

                    .iconBox {
                        position: relative;

                        .spanBox {
                            position: absolute;
                            top: 0rem;
                            left: 17px;
                            z-index: 1000;
                            color: white;
                        }
                    }
                }

            }

        }
    }

    .order_time {
        width: 100%;
        height: 280px;
        display: flex;
        align-items: center;
        background: white;

        div {
            flex: 1;
        }

        .time_left {
            width: 100%;
            height: 100%;

            div {
                margin: 0 30px;

                &:nth-child(1) {
                    font-size: 35px;
                    padding-top: 50px;
                }

                &:nth-child(2) {
                    font-size: 38px;
                    font-weight: 600;
                    padding-top: 10px;
                }

                &:nth-child(3) {
                    font-size: 18px;
                    padding-top: 10px;
                }
            }
        }

        .time_middle {
            width: 100%;
            height: 100%;

            div {
                text-align: center;

                &:nth-child(1) {
                    font-size: 25px;
                    padding-top: 60px;
                    color: #999;
                }

                &:nth-child(2) {
                    padding: 3.140097vw 0;

                }

                &:nth-child(3) {
                    font-size: 18px;
                    padding-top: 20px;
                }
            }
        }

        .time_right {
            width: 100%;
            height: 100%;

            div {
                text-align: right;
                margin-right: 30px;

                &:nth-child(1) {
                    font-size: 35px;
                    padding-top: 50px;
                }

                &:nth-child(2) {
                    font-size: 38px;
                    font-weight: 600;
                    padding-top: 10px;
                }

                &:nth-child(3) {
                    font-size: 18px;
                    padding-top: 10px;
                }
            }
        }
    }

    .order_grade {
        width: 100%;
        height: 100px;
        display: flex;
        align-items: center;
        background: white;
        margin: 20px 0;

        div {
            &:nth-child(1) {
                margin: 0 30px;
                font-size: 28px;
            }

            &:nth-child(2) {
                flex: 1;
                text-align: center;

                span {
                    font-size: 28px;

                    &:nth-child(2) {
                        font-size: 32px;
                        padding: 0 20px;
                        color: #FF9900;
                    }
                }
            }
        }
    }

    ._passengers_box_ {
        background: #fff;
        margin: 2.415459vw 0;

        ul {
            list-style: none;
            margin: 0;
            padding: 0;

            .passenger_1mihs {
                height: 10.628019vw;
                list-style: none;
                padding: 0;
                margin: 0;
                padding-left: 13.043478vw;
                position: relative;

                .delete_1mihs {
                    position: absolute;
                    top: 50%;
                    left: 3.623188vw;
                    margin-top: -2.173913vw;
                    width: 4.347826vw;
                    height: 3.864734vw;
                    line-height: 3.381643vw;
                    border-radius: 2.415459vw;
                    border: 1px solid red;
                    font-size: 2.898551vw;
                    font-style: normal;
                    color: red;
                    text-align: center;
                    vertical-align: middle;

                    .items_1mihs {
                        ._item_1mihs_ {
                            position: relative;
                            height: 10.628019vw;
                            line-height: 10.628019vw;
                            font-size: 0;
                            display: flex;
                            border-bottom: 1px solid #dcdfe0;

                            ._label_1mihs_38 {
                                display: inline-block;
                                width: 14.492754vw;
                                font-size: 3.140097vw;
                            }

                            .input_1mihs {
                                width: 900px;
                            }

                            ._ticket_type {
                                width: 16.908213vw;
                                position: absolute;
                                top: 0;
                                right: 0;
                                font-size: 3.140097vw;
                                color: #333;
                            }
                        }
                    }
                }
            }
        }

        ._add_2m71n {
            display: flex;
            position: relative;
            border-top: 1px solid #dcdfe0;
            color: #1ba9ba;

            ._adult {
                margin: 2.415459vw 0;
                height: 6.763285vw;
                line-height: 6.763285vw;
                text-align: center;
                font-size: 3.864734vw;
                flex: 1;
            }

        }
    }

    .order_add {
        width: 100%;
        height: 100px;
        display: flex;
        background: white;
        align-items: center;

        div {
            flex: 1;
            text-align: center;
            font-size: 30px;
            color: #1BA9BA;
        }
    }

    .account_bjdsa {
        position: fixed;
        width: 100%;
        bottom: 0;
        height: 12.077295vw;
        z-index: 10;
        max-width: 130.434783vw;
        background: #fff;
        height: 14.492754vw;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .buttons {
            margin-right: 20px;
        }

        .price_bjdsa {
            margin-left: 2.415459vw;
            position: relative;

            .money_bjdsa {
                line-height: 6.763285vw;
                margin-top: 0;
                padding-left: 0;
                font-weight: normal;
                color: #ff8205;
                font-family: PingFangSC-Semibold;
                font-size: 5.797101vw;
                text-align: center;
                min-width: 11.594203vw;
                display: flex;
            }

            .money_bjdsa1 {
                font-family: PingFangSC-Regular;
                font-size: 2.415459vw;
                color: #aaa;
                text-align: center;
            }
        }

        .adm_button {
            color: #fff;
            border-color: #1ba9ba;
            background-color: #1ba9ba;
            border-radius: 1.449275vw;
            width: 28.985507vw;
            margin-right: 2.415459vw;
        }
    }

}

.price_info {
    width: 90%;
    margin: 10px 20px;
    font-size: 29px;
}

.train_info {
    display: flex;
    width: 90%;
    font-size: 27px;
    margin: 0 20px;

    div {
        &:nth-child(1) {
            flex: 1;
        }

        &:nth-child(2) {
            span {
                &:nth-child(1) {
                    padding: 0 50px;
                }

                &:nth-child(2) {
                    padding: 0 10px;
                }
            }
        }
    }
}

:global(.adm-popup-body-position-bottom) {
    position: fixed;
    bottom: 120px;
}

:global(.adm-mask) {
    top: -120px;
}